body{
	padding: 0;
	margin: 0;
	background-color: #666633;
	font-family: 'Shadows Into Light', cursive;
}

header {
	position: fixed;
	display: flex;
	justify-content: flex-end;
	background: #FF6666;
	width: 100%;
	top: 0;
	font-family: 'Love Ya Like A Sister', cursive;
}
.contenedorBarra{
	height: 100%;
	margin: 0;
	padding: 30px;
	background-color: #FF6666;
}
a{
	font-size: 20px;
	color: whitesmoke;
	padding: 10px;
	text-decoration:none;
}
a:hover{
  color: #666633;
}

}